@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@function pxToRem($to, $size: 16) {
    @return $to / $size + 0em;
  }

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    min-width: pxToRem(360);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Cousine;
}
p {
    text-indent: 5%;
    font-family: Cousine;
}

// Top header -->

.top_header {
    border-bottom: 1px solid rgba(190, 10, 10, 0.928);
}

.top_menu {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    max-width: pxToRem(1100);
    margin: auto;
    height: pxToRem(70);
    background-color: #88CC88;
}

.logo {
    max-width: pxToRem(230);
    width: 100%;
}
.toggle {
  display: none;
}
.top_button {
    font-family: Cousine;
    font-size: pxToRem(18);
    font-weight: 400;
    line-height: pxToRem(27);
    color: black;
    text-transform: uppercase;
    text-decoration: none;;
    padding: 0px 10px;
}

.top_button:hover {
    text-decoration: underline;
    color: rgb(136, 9, 9);
    transition: .4s;
}
section, footer {
  max-width: 1000px;
  padding: pxToRem(70) pxToRem(15);
  box-sizing: border-box;
  margin: auto;
  background: #FFE09C;
  padding: pxToRem(20) pxToRem(20);
}

.about_me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.my_photo {
  padding: pxToRem(20);
  float: left;
}

// Hobbies -->

.hobbies {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  .hobbies_container {
    position: relative;
    width: 100%;
    max-width: pxToRem(976);
  }

  .hobbies_img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-top: pxToRem(10);
  }

  .hobbies_text {
    transition: .2s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .hobbies_container:hover .hobbies_img {
    opacity: 0.2;
  }

  .hobbies_container:hover .hobbies_text {
    opacity: 1;
  }

  // Education -->

  #education {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background: #FFE09C;
  }

  .education_container {
    position: relative;
    width: 100%;
    height: pxToRem(230);
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: pxToRem(230);
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border: 1px solid #000000;
    float: left;
    box-sizing: border-box;
    transition: 0.2s;
    text-align: center;
    overflow: hidden;
  }
  
  ul li:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/school.jpg);
  }
  
  ul li:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/ba.jpg);
  }
  
  ul li:nth-child(3) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/nh_learning.jpg);
  }
  
  ul li:nth-child(4) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/web.jpg);
  }

  ul:hover li {
    width: 10%;
  }
  
  ul li:hover {
    width: 70%;
  }
  
  ul li .education_content {
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #7BC880;
    box-sizing: border-box;
    color: #000000;
    opacity: 0;
  }
  
  ul li:hover .education_content {
    bottom: 0;
    transition: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
  }

  //  Work experiance -->

  #work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .work_container {
    display: flex;
    justify-content: space-around;
  }
  // span {
  //   background-color: black;
  //   height: 1px;
  //   width: 100px;
  //   left: 10px;
  // }

  .work_experiance {
    border: 1px solid #000000;
    margin: 10px;
  }

  .work_text {
    padding: 1px 0 0 5px;
    font-size: 14px;
    text-align: left;
  }

  /* Footer */
  
  .template {
    display:none;
}

form {
    background:#ffffff;
    display: flex;
    flex-direction:column;
    margin:auto;
    max-width:25rem;
    padding:1rem;
    border-radius: 0.25rem;
    margin-bottom:20px;
}
input[type=text], textarea {
    margin-bottom:20px;
    background: #fff6c2;
    border: 3px solid rgb(237, 209, 31);
    border-radius: 0.25rem;
    padding:8px;
    font-family: Cousine;
}
input[type=email], textarea {
  margin-bottom:20px;
  background: #fff6c2;
  border: 3px solid rgb(237, 209, 31);
  border-radius: 0.25rem;
  padding:8px;
  font-family: Cousine;
}

#comments_form textarea {
    resize: vertical;
    font-family: Cousine;
}

button {
    background: rgb(237, 209, 31);
    border-radius: 0.25rem;
    border:0;
    padding:8px;
    font-family: Cousine;
}

.comment_first_block {
    display:flex;
    justify-content:space-between;
    margin-bottom:2rem;

    .message {
        margin:0;
        white-space: pre;
    }
}

.comments {
    background: #7180AC;
    margin:auto;
    max-width:25rem;
    padding:1rem;
}

.comments__entry {
    border-bottom: 1px solid rgb(100, 87, 126);
    padding: 0.25rem;

    .author {
        display:block;
        text-align:right;
    }
}

.comments__entry:last-child {
    border:0;
}

.footer_icons {
  display: flex;
  justify-content: center;
}

.footer_icons > a {
  display: flex;
  margin: 10px;
  text-decoration: none;
  align-items: center;
  color: #000000;
  font-family: Cousine;
}


/* Arrow */
  .arrow_top {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0 0 0;
    text-decoration: none;
    transform: rotate(180deg);
    position: fixed;
    bottom: 40px;
    right: 15px;
  }

  @media only screen and (max-width: 770px) { 
    .top_menu > .top_navigation {
      display: none;
    }
    .toggle {
      display: flex;
      cursor: pointer;
    }
    .toggle::before {
      content: url(images/icons/list.png);
      margin: auto;
      padding-right: 10px;
    }
    .toggle.open::before {
      content: url(images/icons/cancel32.png);
    }

    .toggle.open > h2{
      display: none;
    }
    .top_navigation.open {
      position: fixed;
      top: 70px;
      left: 0;
      height: 30px;
      width: 100%;
      background: rgba(255, 255, 255, 0.801);
      display: flex;
      justify-content: space-around;
      // flex-direction: column;
      overflow: auto;
      padding-top: 10px;
    }
  }