@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@function pxToRem($to, $size: 16) {
    @return $to / $size + 0em;
  }

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    min-width: pxToRem(360);
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Cousine;
}
p {
    text-indent: 5%;
    font-family: Cousine;
    text-align: center;
}

.top_header {
    border-bottom: 1px solid rgba(190, 10, 10, 0.928);
}
.top_menu {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    max-width: pxToRem(1100);
    margin: auto;
    height: pxToRem(70);
    background-color: rgb(25, 199, 46);
}

.logo {
    max-width: pxToRem(230);
    width: 100%;
}

.top_button {
    font-family: Cousine;
    font-size: pxToRem(18);
    font-weight: 400;
    line-height: pxToRem(27);
    color: black;
    text-transform: uppercase;
    text-decoration: none;;
    padding: 0px 10px;
}

.top_button:hover {
    text-decoration: underline;
    color: rgb(136, 9, 9);
    transition: .4s;
}
section, footer {
  max-width: 1000px;
  padding: pxToRem(70) pxToRem(15);
  box-sizing: border-box;
  margin: auto;
  background: pink;
  padding: pxToRem(20) pxToRem(20);
}

.my_photo {
    padding: pxToRem(20);
}

.about_me {
    background: rgba(0, 167, 153, 0.658);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// Hobbies //

.hobbies {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 167, 153, 0.658);
    flex-wrap: wrap;
    display: flex;
  }

  .hobbies_container {
    position: relative;
    width: 100%;
    max-width: pxToRem(976);
  }

  .hobbies_img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-top: pxToRem(10);
  }

  .hobbies_text {
    transition: .5s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .hobbies_container:hover .hobbies_img {
    opacity: 0.3;
  }

  .hobbies_container:hover .hobbies_text {
    opacity: 1;
  }