@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@function pxToRem($to, $size: 16) {
    @return $to / $size + 0em;
  }

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    min-width: pxToRem(360);
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Cousine;
}
p {
    text-indent: 5%;
    font-family: Cousine;
}

.top_header {
    border-bottom: 1px solid rgba(190, 10, 10, 0.928);
}
.top_menu {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    max-width: pxToRem(1100);
    margin: auto;
    height: pxToRem(70);
    background-color: rgb(25, 199, 46);
}

.logo {
    max-width: pxToRem(230);
    width: 100%;
}

.top_button {
    font-family: Cousine;
    font-size: pxToRem(18);
    font-weight: 400;
    line-height: pxToRem(27);
    color: black;
    text-transform: uppercase;
    text-decoration: none;;
    padding: 0px 10px;
}

.top_button:hover {
    text-decoration: underline;
    color: rgb(136, 9, 9);
    transition: .4s;
}
section, footer {
  max-width: 1000px;
  padding: pxToRem(70) pxToRem(15);
  box-sizing: border-box;
  margin: auto;
  background: pink;
  padding: pxToRem(20) pxToRem(20);
}

.my_photo {
    padding: pxToRem(20);
}

.about_me {
    background: rgba(0, 167, 153, 0.658);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// Hobbies //

.hobbies {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 167, 153, 0.658);
    flex-wrap: wrap;
    display: flex;
  }

  .hobbies_container {
    position: relative;
    width: 100%;
    max-width: pxToRem(976);
  }

  .hobbies_img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-top: pxToRem(10);
  }

  .hobbies_text {
    transition: .5s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .hobbies_container:hover .hobbies_img {
    opacity: 0.3;
  }

  .hobbies_container:hover .hobbies_text {
    opacity: 1;
  }

  // Education //

  .education {
    // position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .education_container {
    position: relative;
    width: 100%;
    height: 230px;
  }

  // UL start
  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
    background: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border: 1px solid #000000;
    float: left;
    box-sizing: border-box;
    transition: 0.3s;
    text-align: center;
    overflow: hidden;
  }
  
  ul li:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/school.jpg);
  }
  
  ul li:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/ba.jpg);
  }
  
  ul li:nth-child(3) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/nh_learning.jpg);
  }
  
  ul li:nth-child(4) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(images/education/web.jpg);
  }

  ul:hover li {
    width: 10%;
  }
  
  ul li:hover {
    width: 70%;
  }
  
  ul li .education_content {
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #ffffff;
    opacity: 0;
  }
  
  ul li:hover .education_content {
    bottom: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
  }

   // UL end