@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@function pxToRem($to, $size: 16) {
    @return $to / $size + 0em;
  }

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    min-width: pxToRem(360);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Cousine;
}
p {
    text-indent: 5%;
    font-family: Cousine;
}

/* -- Top header -- */

.top_header {
    border-bottom: 1px solid rgba(190, 10, 10, 0.928);
    position: sticky;
    top: 0;
}

.top_menu {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    max-width: pxToRem(1100);
    margin: auto;
    height: pxToRem(70);
    background-color: #88CC88;
}

.logo {
    max-width: pxToRem(230);
    width: 100%;
}
.toggle {
  display: none;
}
.top_button {
    font-family: Cousine;
    font-size: pxToRem(16);
    font-weight: 400;
    line-height: pxToRem(27);
    color: black;
    text-transform: uppercase;
    text-decoration: none;;
    padding: 0px pxToRem(5);
}

.top_button:hover {
    text-decoration: underline;
    color: rgb(136, 9, 9);
    transition: .4s;
}
section, footer {
  max-width: pxToRem(1000);
  padding: pxToRem(70) pxToRem(15);
  box-sizing: border-box;
  margin: auto;
  background: #FFE09C;
  padding: pxToRem(20) pxToRem(20);
}

/* -- About me -- */

.about_me {
    display: flex;
    align-items: center;
}

.my_photo {
  padding: 0 0 0 pxToRem(20);
  float: right;
}
.my_text {

  background: #7180AC;
  text-align: left;
}
/* -- Hobbies -- */

#hobbies {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  .hobbies_container {
    width: 100%;
    max-width: pxToRem(976);
   
  }

  .hobbies_img {
    padding: pxToRem(10) 0;
    width: 100%;
    max-width: pxToRem(976);
  }

  .hobbies_text {
    padding: pxToRem(10);
    background: #7180AC;
    text-align: center;
  }

  /* -- Education -- */

  #education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .education_container {
    max-width: pxToRem(1000);
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .education_content {
    background: #7180AC;
    border: 1px solid #7180AC;
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: pxToRem(10);
  }

  .education_icons {
    padding-bottom: pxToRem(5);
  }
  .hide_icons {
    display: none;
  }

  /* -- Work experiance -- */

  #work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .work_container {
    
      display: flex;
      justify-content: space-around;
  }

  .work_experiance {
    background: #7180AC;
    border: 1px solid #7180AC;
    margin: pxToRem(10);
  }
  
  /* -- Footer -- */
  
  .template {
    display:none;
}

form {
    background: #7180AC;
    display: flex;
    flex-direction:column;
    margin:auto;
    max-width:25rem;
    padding:1rem;
    border-radius: 0.25rem;
    margin-bottom:pxToRem(20);
}
input[type=text], textarea {
    margin-bottom:pxToRem(20);
    background: #fff6c2;
    border: 3px solid rgb(237, 209, 31);
    border-radius: 0.25rem;
    padding:pxToRem(8);
    font-family: Cousine;
}
input[type=email], textarea {
  margin-bottom:pxToRem(20);
  background: #fff6c2;
  border: 3px solid rgb(237, 209, 31);
  border-radius: 0.25rem;
  padding:pxToRem(8);
  font-family: Cousine;
}

#comments_form textarea {
    resize: vertical;
    font-family: Cousine;
}

button {
    background: rgb(237, 209, 31);
    border-radius: 0.25rem;
    border:0;
    padding:pxToRem(8);
    font-family: Cousine;
}

.comment_first_block {
    display:flex;
    justify-content:space-between;
    margin-bottom:2rem;

    .message {
        margin:0;
        white-space: pre;
    }
}

.comments {
    background: #7180AC;
    margin:auto;
    max-width:25rem;
    padding:1rem;
}

.comments__entry {
    border-bottom: 1px solid rgb(100, 87, 126);
    padding: 0.25rem;

    .author {
        display:block;
        text-align:right;
    }
}

.comments__entry:last-child {
    border:0;
}

.footer_icons {
  display: flex;
  justify-content: center;
}
.footer_hide {
  display: none;
  margin: pxToRem(10);
  text-decoration: none;
  align-items: center;
  color: #000000;
  font-family: Cousine;
}
.footer_ic  {
  display: flex;
  margin: pxToRem(10);
  text-decoration: none;
  align-items: center;
  color: #000000;
  font-family: Cousine;
}


/* -- Arrow -- */
  .arrow_top {
    display: inline-block;
    width: pxToRem(30);
    height: pxToRem(30);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: pxToRem(12) 0 0 0;
    text-decoration: none;
    transform: rotate(180deg);
    position: fixed;
    bottom: pxToRem(40);
    right: pxToRem(15);
  }

  /* -- Media -- */

  @media only screen and (max-width: 780px) { 
    .top_menu > .top_navigation {
      display: none;
    }
    .toggle {
      display: flex;
      cursor: pointer;
    }
    .toggle::before {
      content: url(images/icons/list.png);
      margin: auto;
      padding-right: pxToRem(10);
    }
    .toggle.open::before {
      content: url(images/icons/cancel32.png);
    }

    .toggle.open > h2{
      display: none;
    }
    .top_navigation.open {
      position: fixed;
      top: pxToRem(71);
      left: 0;
      height: pxToRem(30);
      width: 100%;
      background: rgba(255, 255, 255, 0.801);
      display: flex;
      justify-content: space-around;
      overflow: auto;
      padding-top: pxToRem(10);
    }
  }

  @media only screen and (max-width: 620px) {

    html {
      font-size: 14px;
    }

    .about_me {
      flex-wrap: wrap;
      align-content: center;
  }

    .photo {
    display: flex;
    justify-content: center;
  }
    .my_photo {
    float: none;
  }

  }

  @media only screen and (max-width: 540px) {

    .top_navigation.open {
      flex-direction: column;
      height: pxToRem(120);
      align-items: center;
    }
    .toggle::before {
      content: url(images/icons24px/list24.png);
    }
    .toggle.open::before {
      content: url(images/icons24px/cancel24.png);
    }

    .education_content {
      width: 100%;
    }
    .main_icons {
      display: none;
    }
    .education_icons {
      display: flex;
      margin: auto;
      justify-content: center;
    }
    .hide_icons {
      display: flex;
    }

    .work_container {
      flex-direction: column;
    }

    .footer_ic {
      display: none;
  }
    .footer_hide {
      display: flex;
    }

  }

  @media only screen and (max-width: 430px) {
    html {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 370px) {
    html {
      font-size: 10px;
    }
  }