@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@function pxToRem($to, $size: 16) {
    @return $to / $size + 0em;
  }

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    min-width: pxToRem(360);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Cousine;
}
p {
    text-indent: 5%;
    font-family: Cousine;
}

/* -- Top header -- */

.top_header {
    border-bottom: 1px solid rgba(190, 10, 10, 0.928);
    position: sticky;
    top: 0;
    z-index: 1;
}

.top_menu {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    max-width: pxToRem(1100);
    margin: auto;
    height: pxToRem(70);
    background-color: #2D882D;
}

.logo {
    max-width: pxToRem(230);
    width: 100%;
}
.toggle {
  display: none;
}
.top_button {
    font-family: Cousine;
    font-size: pxToRem(16);
    font-weight: 400;
    line-height: pxToRem(27);
    color: #801515;
    text-transform: uppercase;
    text-decoration: none;;
    padding: 0px pxToRem(5);
}

.top_button:hover {
    background: #801515;
    border: 1px solid;
    border-radius: pxToRem(5);
    padding: pxToRem(5);
    color: #ffff;
    transition: .3s;
}
section, footer {
  max-width: pxToRem(1000);
  padding: pxToRem(70) pxToRem(15);
  box-sizing: border-box;
  margin: auto;
  background: #AA9739;
  padding: pxToRem(20) pxToRem(20);
}

/* -- About me -- */

.about_me {
  flex-direction: column;
  display: flex;
  }

.about_text {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.my_photo {
  margin: pxToRem(20);
  float: right;
}
.my_text {
  max-width: pxToRem(376);
  width: 100%;
  border: 1px solid rgb(100, 87, 126);
  border-radius: pxToRem(10);
  background: #7180AC;
  text-align: left;
  margin: pxToRem(20);
  padding: 0 pxToRem(10);
}
/* -- Hobbies  -- */

  #hobbies {
    position: relative;
    max-width: pxToRem(1000);
  }

  .slider {
    width: 100%;
    height: 550px;
    background: #AA9739;
    margin: 0;
    padding: 0;
  }

  .slider .images {
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border-right: 1px solid rgb(100, 87, 126);
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
  }

  .slider .images:nth-child(1) {
    background-image: url(images/hobbies/books.png);
    background-size: cover;
    background-position: left;
  }
  .slider .images:nth-child(2) {
    background-image: url(images/hobbies/hikking.png);
    background-size: cover;
    background-position: left;
  }
  .slider .images:nth-child(3) {
    background-image: url(images/hobbies/running.png);
    background-size: cover;
    background-position: left;
  }
  .slider .images:nth-child(4) {
    background-image: url(images/hobbies/seven_samurai.jpeg);
    background-size: cover;
    background-position: left;
  }

  .slider:hover .images {
    width: 10%;
  }

  .slider .images:hover {
    width: 70%;
  }

  .slider .images .content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: #7180AC;;
    box-sizing: border-box;
    opacity: 0;
  }

  .slider .images:hover .content {
    bottom: 0;
    transition: 0.4s;
    transition-delay: 0.4s;
    opacity: 0.9;
  }

  /* -- Education -- */

  #education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .education_container {
    max-width: pxToRem(1000);
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .education_content {
    background: #7180AC;
    border: 1px solid rgb(100, 87, 126);
    border-radius: pxToRem(10);
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: pxToRem(10);
  }

  .education_icons {
    padding-bottom: pxToRem(5);
  }
  .hide_icons {
    display: none;
  }

  /* -- Work experiance -- */

  #work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .work_container {
      display: flex;
      justify-content: space-around;
  }

  .work_experiance {
    background: #7180AC;
    border: 1px solid rgb(100, 87, 126);
    border-radius: pxToRem(10);
    margin: pxToRem(10);
  }
  
  /* -- Footer -- */
  
  .template {
    display:none;
  }

  form {
      background: #7180AC;
      display: flex;
      flex-direction:column;
      margin:auto;
      max-width:pxToRem(400);
      padding:pxToRem(16);
      border: 1px solid #AA9739;
      border-radius: pxToRem(5);
      margin-bottom: pxToRem(20);
  }

  input, textarea {
    margin-bottom:pxToRem(20);
    background: #fff6c2;
    border: 3px solid #AA9739;
    border-radius: pxToRem(5);
    padding:pxToRem(8);
    font-family: Cousine;
  }

  #comments_form textarea {
      resize: none;
      font-family: Cousine;
  }

  button {
      background: #AA9739;
      border-radius: pxToRem(5);
      border:0;
      padding:pxToRem(8);
      font-family: Cousine;
  }

  .comments {
      background: #7180AC;
      margin:auto;
      max-width: pxToRem(400);
      padding:1rem;
  }

  .comments__entry {
      border-bottom: 1px solid rgb(100, 87, 126);
      padding: pxToRem(5);

      .author {
          display:block;
          text-align:right;
      }
  }

  .comments__entry:last-child {
      border:0;
  }

  .footer_icons {
    display: flex;
    justify-content: center;
  }
  .footer_hide {
    display: none;
    margin: pxToRem(10);
    text-decoration: none;
    align-items: center;
    color: #000000;
    font-family: Cousine;
  }
  .footer_ic  {
    display: flex;
    margin: pxToRem(10);
    text-decoration: none;
    align-items: center;
    color: #000000;
    font-family: Cousine;
  }

  /* Show message function start */

  .popup {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
  }

  .message_block {
    border: 1px solid #AA9739;
    border-radius: pxToRem(10);
    background: #7180AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: pxToRem(500);
    height: pxToRem(200);
  }

/* Show message function end */

/* -- Arrow -- */
  .arrow_top {
    display: inline-block;
    width: pxToRem(30);
    height: pxToRem(30);
    color: #801515;
    text-align: center;
    vertical-align: middle;
    padding: pxToRem(12) 0 0 0;
    text-decoration: none;
    transform: rotate(180deg);
    position: fixed;
    bottom: pxToRem(40);
    right: pxToRem(15);
  }

  /* -- Media -- */

  @media only screen and (max-width: 855px) {
    .my_text {
      max-width: pxToRem(976);
      width: 100%;
  }
  .slider {
    height: pxToRem(450);
  }
  }

  @media only screen and (max-width: 780px) { 
    .top_menu > .top_navigation {
      display: none;
    }

    .toggle {
      display: flex;
      cursor: pointer;
      color: #801515;
      
    }
    .toggle::before {
      content: url(images/icons/list_red.png);
      margin: auto;
      padding-right: pxToRem(10);
    }
   
    .toggle.open::before {
      content: url(images/icons/cancel.png);
    }
  
    .toggle.open > h2{
      display: none;
    }
    .top_navigation.open {
      position: fixed;
      top: pxToRem(71);
      left: 0;
      height: pxToRem(30);
      width: 100%;
      background: rgba(255, 255, 255, 0.801);
      display: flex;
      justify-content: space-around;
      overflow: auto;
      padding-top: pxToRem(10);
    }
    .slider {
      height: pxToRem(430);
    }
  }

  @media only screen and (max-width: 620px) {

    html {
      font-size: 14px;
    }

    .about_me {
      flex-wrap: wrap;
      align-content: center;
  }

    .photo {
    display: flex;
    justify-content: center;
  }
    .my_photo {
    float: none;
  }
  .slider {
    height: 390px;
  }

  }

  @media only screen and (max-width: 540px) {

    .top_navigation.open {
      flex-direction: column;
      height: pxToRem(120);
      align-items: center;
    }
    .toggle::before {
      content: url(images/icons24px/list_red24.png);
      
    }
    .toggle.open::before {
      content: url(images/icons24px/cancel24.png);
    }
    .slider {
      height: pxToRem(370);
    }
    .education_content {
      width: 100%;
    }
    .main_icons {
      display: none;
    }
    .education_icons {
      display: flex;
      margin: auto;
      justify-content: center;
    }
    .hide_icons {
      display: flex;
    }

    .work_container {
      flex-direction: column;
    }

    .footer_ic {
      display: none;
  }
    .footer_hide {
      display: flex;
    }

  }

  @media only screen and (max-width: 430px) {
    html {
      font-size: 12px;
    }
    .slider {
      height: pxToRem(350);
    }
  }

  @media only screen and (max-width: 370px) {
    html {
      font-size: 10px;
    }
    .slider {
      height: pxToRem(310);
    }
  }